In [268]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.preprocessing import MultiLabelBinarizer

In [269]:
df= pd.read_csv("spring_data.csv")

In [270]:
df.head()

,SN,District,Municipality,Ward Number,Town/Village Name,Tole,Latitude,Longitude,Source Name,Source Type,...,List the events associated with sources,Is this source accessible to everyone in community? (in term of use access),If not who are restricted?,Are there water user groups for management?,User group type,Who is the chairperson?,Women in leadership position,Any spring revival / pond protection measures taken?,What measures have been taken?,Remarks (source specific comment)
0,1,Kavrepalanchowk,Namobuudha,11,Thalbale,Thalbale,27.556629,85.596365,Thalbale kuwa,spring,...,NaN,yes,NaN,no,NaN,NaN,NaN,no,NaN,NaN
1,2,Kavrepalanchowk,Namobuudha,11,Bimire,Bimire,27.565024,85.638463,Kuwa,spring,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Kavrepalanchowk,Namobuudha,11,Nagar,Vimire,27.544086,85.569624,Kuwa,spring,...,"Bihe vratawand, puja",yes,NaN,yes,informal,male,"secretary,treasurer",yes,"Plantation,source_protection",NaN
3,4,Kavrepalanchowk,Namobuudha,11,Nagar,Bimire,27.545604,85.570672,Kuwa,spring,...,"Bihe vratawand, puja",yes,NaN,no,NaN,NaN,NaN,no,NaN,NaN
4,5,Kavrepalanchowk,Namobuudha,11,Nagar,Bimire,27.545577,85.570475,Enarko paniboding gareko,pond,...,NaN,yes,NaN,no,NaN,NaN,NaN,no,NaN,NaN

In [271]:
df.describe()

,SN,Ward Number,Latitude,Longitude,"Volume of bucket /bottle (1, 2, 5, 10 or 20 litre)",Time to fill (seconds),Approx. distance from the nearest dependent household (metre),One-way water fetching time (minutes),How much time did it take to fill the Jar of 20 liter before 10 yr? (minutes),Current time to fill 20 liter jar (minutes),Pond area (square metre),Pond depth (metre),Pond area 10 years earlier (square metre),Pond depth10 years earlier (metre),No. of households dependent on this source
count,5689.000000,5689.000000,5689.000000,5689.000000,3906.000000,3907.000000,3907.000000,3907.000000,3906.000000,3911.000000,271.000000,271.000000,271.000000,272.000000,3206.000000
mean,2845.000000,6.163825,27.566720,85.609966,2.376152,93.462247,334.254415,38.849245,11.638377,20.499361,116.348893,2.165683,115.649446,2.629044,20.846850
std,1642.417172,3.586369,0.065537,0.089556,4.057451,271.605652,697.214000,232.561823,73.237096,84.001214,392.596558,2.679660,402.690600,4.593040,58.967216
min,1.000000,1.000000,27.395252,85.412473,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1423.000000,3.000000,27.516542,85.547335,1.000000,10.000000,50.000000,4.000000,2.000000,3.000000,12.000000,1.000000,12.000000,1.000000,4.000000
50%,2845.000000,6.000000,27.578688,85.597194,1.000000,30.000000,150.000000,10.000000,5.000000,8.000000,32.000000,1.500000,32.000000,2.000000,10.000000
75%,4267.000000,9.000000,27.615262,85.680828,1.000000,60.000000,400.000000,20.000000,10.000000,20.000000,64.000000,2.000000,64.000000,3.000000,20.000000
max,5689.000000,13.000000,27.743630,85.819344,40.000000,7200.000000,21000.000000,5200.000000,2400.000000,2400.000000,5200.000000,30.000000,5200.000000,50.000000,2000.000000

In [272]:
df.count()

SN                                                                                      5689
District                                                                                5689
Municipality                                                                            5689
Ward Number                                                                             5689
Town/Village Name                                                                       5689
Tole                                                                                    5688
Latitude                                                                                5689
Longitude                                                                               5689
Source Name                                                                             5682
Source Type                                                                             5689
Ownership                                                                               5689
Surrounding Environment (Landuse)                                                       5688
Plant Species around Water Source                                                       5685
Source Condition                                                                        5689
Perennial / Seasonal                                                                    5689
Dried since how many years?                                                             1522
Reason of drying                                                                        1521
After this source dried up , was there any activity for revival done in this source?    1520
List the activities done for source revival                                              123
What was done after source was dried up?                                                1534
Source Condition.1                                                                      3906
Nature of discharge                                                                     3905
Water emergence point                                                                   3906
Volume of bucket /bottle (1, 2, 5, 10 or 20 litre)                                      3906
Time to fill (seconds)                                                                  3907
Approx. distance from the nearest dependent household (metre)                           3907
One-way water fetching time (minutes)                                                   3907
How much time did it take to fill the Jar of 20 liter before 10 yr? (minutes)           3906
Current time to fill 20 liter jar (minutes)                                             3911
Trend of spring discharge                                                               3907
Pond area (square metre)                                                                 271
Pond depth (metre)                                                                       271
Pond area 10 years earlier (square metre)                                                271
Pond depth10 years earlier (metre)                                                       272
Perception on source water quality                                                      4171
Perception on source water quality change                                               4168
Is this source in use?                                                                  4168
Purpose of use                                                                          3208
No. of households dependent on this source                                              3206
Ethnicity of users                                                                      3208
No. of households dependent on this source only                                         2695
Ethnicity of users dependent on this source only                                        2579
Any impact due to 2015 earthquake?                                                      3922
Is this source tapped?                                                                  4165
Supplied to same Municipality or different?                                             2076
Supplied to same ward or different wards?                                               2076
Is water source significant for cultural/religious purpose?                             4166
List the events associated with sources                                                  456
Is this source accessible to everyone in community? (in term of use access)             4166
If not who are restricted?                                                               108
Are there water user groups for management?                                             4169
User group type                                                                          502
Who is the chairperson?                                                                  502
Women in leadership position                                                             490
Any spring revival / pond protection measures taken?                                    4166
What measures have been taken?                                                           978
Remarks (source specific comment)                                                       2161
dtype: int64

In [273]:
df_numeric= df.select_dtypes(include='number')

In [274]:
df_numeric.head(10)

,SN,Ward Number,Latitude,Longitude,"Volume of bucket /bottle (1, 2, 5, 10 or 20 litre)",Time to fill (seconds),Approx. distance from the nearest dependent household (metre),One-way water fetching time (minutes),How much time did it take to fill the Jar of 20 liter before 10 yr? (minutes),Current time to fill 20 liter jar (minutes),Pond area (square metre),Pond depth (metre),Pond area 10 years earlier (square metre),Pond depth10 years earlier (metre),No. of households dependent on this source
0,1,11,27.556629,85.596365,2.0,60.0,50.0,5.0,5.0,10.0,NaN,NaN,NaN,NaN,13.0
1,2,11,27.565024,85.638463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,11,27.544086,85.569624,2.0,30.0,1500.0,60.0,5.0,7.0,NaN,NaN,NaN,NaN,NaN
3,4,11,27.545604,85.570672,2.0,20.0,300.0,20.0,5.0,30.0,NaN,NaN,NaN,NaN,150.0
4,5,11,27.545577,85.570475,NaN,NaN,NaN,NaN,NaN,NaN,500.0,2.0,400.0,1.5,206.0
5,6,11,27.547495,85.564839,2.5,20.0,500.0,30.0,2.0,24.0,NaN,NaN,NaN,NaN,NaN
6,7,8,27.561758,85.640298,20.0,30.0,300.0,20.0,0.5,0.5,NaN,NaN,NaN,NaN,20.0
7,8,8,27.553820,85.630336,5.0,60.0,1000.0,30.0,2.0,5.0,NaN,NaN,NaN,NaN,105.0
8,9,8,27.551534,85.622286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,8,27.553197,85.618482,20.0,120.0,60.0,10.0,2.0,2.0,NaN,NaN,NaN,NaN,10.0

In [275]:
df.drop('Remarks (source specific comment)', axis=1, inplace=True)

In [276]:
len(df.columns)

56

In [277]:
df.rename(columns={'What measures have been taken?': 'measures_taken'}, inplace=True)

In [278]:
def clean_measures(x):
    if pd.isna(x):
        return []
    x = x.lower().strip()
    x = x.replace('source protection', 'source_protection')  # unify naming
    if x == '0' or x == 'tried':
        return []
    return [item.strip() for item in x.split(',')]

df['measures_taken_clean'] = df['measures_taken'].apply(clean_measures)

mlb = MultiLabelBinarizer()
one_hot_encoded = pd.DataFrame(mlb.fit_transform(df['measures_taken_clean']),
                               columns=mlb.classes_,
                               index=df.index)

# Before concatenating, drop columns if they already exist
for col in one_hot_encoded.columns:
    if col in df.columns:
        df.drop(columns=[col], inplace=True)

df = pd.concat([df, one_hot_encoded], axis=1)

print(df.columns.tolist())

['SN', 'District', 'Municipality', 'Ward Number', 'Town/Village Name', 'Tole', 'Latitude', 'Longitude', 'Source Name', 'Source Type', 'Ownership', 'Surrounding Environment (Landuse)', 'Plant Species around Water Source', 'Source Condition', 'Perennial / Seasonal', 'Dried since how many years?', 'Reason of drying', 'After this source dried up , was there any activity for revival done in this source?', 'List the activities done for source revival', 'What was done after source was dried up?', 'Source Condition.1', 'Nature of discharge', 'Water emergence point', 'Volume of bucket /bottle (1, 2, 5, 10 or 20 litre)', 'Time to fill (seconds)', 'Approx. distance from the nearest dependent household (metre)', 'One-way water fetching time (minutes)', 'How much time did it take to fill the Jar of 20 liter before 10 yr? (minutes)', 'Current time to fill 20 liter jar (minutes)', 'Trend of spring discharge', 'Pond area (square metre)', 'Pond depth (metre)', 'Pond area 10 years earlier (square metre)', 'Pond depth10 years earlier (metre)', 'Perception on source water quality', 'Perception on source water quality change', 'Is this source in use?', 'Purpose of use', 'No. of households dependent on this source', 'Ethnicity of users', 'No. of households dependent on this source only', 'Ethnicity of users dependent on this source only', 'Any impact due to 2015 earthquake?', 'Is this source tapped?', 'Supplied to same Municipality or different?', 'Supplied to same ward or different wards?', 'Is water source significant for cultural/religious purpose?', 'List the events associated with sources', 'Is this source accessible to everyone in community? (in term of use access)', 'If not who are restricted?', 'Are there water user groups for management?', 'User group type', 'Who is the chairperson?', 'Women in leadership position', 'Any spring revival / pond protection measures taken?', 'measures_taken', 'measures_taken_clean', 'plantation', 'recharge_pond_construction', 'source_protection', 'trench-pit']

In [279]:
df.drop(columns=['measures_taken', 'measures_taken_clean'], inplace=True)

In [280]:
df.columns

Index(['SN', 'District', 'Municipality', 'Ward Number', 'Town/Village Name',
       'Tole', 'Latitude', 'Longitude', 'Source Name', 'Source Type',
       'Ownership', 'Surrounding Environment (Landuse)',
       'Plant Species around Water Source', 'Source Condition',
       'Perennial / Seasonal', 'Dried since how many years?',
       'Reason of drying',
       'After this source dried up , was there any activity for revival done in this source?',
       'List the activities done for source revival',
       'What was done after source was dried up?', 'Source Condition.1',
       'Nature of discharge', 'Water emergence point',
       'Volume of bucket /bottle (1, 2, 5, 10 or 20 litre)',
       'Time to fill (seconds)',
       'Approx. distance from the nearest dependent household (metre)',
       'One-way water fetching time (minutes)',
       'How much time did it take to fill the Jar of 20 liter before 10 yr? (minutes)',
       'Current time to fill 20 liter jar (minutes)',
       'Trend of spring discharge', 'Pond area (square metre)',
       'Pond depth (metre)', 'Pond area 10 years earlier (square metre)',
       'Pond depth10 years earlier (metre)',
       'Perception on source water quality',
       'Perception on source water quality change', 'Is this source in use?',
       'Purpose of use', 'No. of households dependent on this source',
       'Ethnicity of users', 'No. of households dependent on this source only',
       'Ethnicity of users dependent on this source only',
       'Any impact due to 2015 earthquake?', 'Is this source tapped?',
       'Supplied to same Municipality or different?',
       'Supplied to same ward or different wards?',
       'Is water source significant for cultural/religious purpose?',
       'List the events associated with sources',
       'Is this source accessible to everyone in community? (in term of use access)',
       'If not who are restricted?',
       'Are there water user groups for management?', 'User group type',
       'Who is the chairperson?', 'Women in leadership position',
       'Any spring revival / pond protection measures taken?', 'plantation',
       'recharge_pond_construction', 'source_protection', 'trench-pit'],
      dtype='object')

In [281]:
df.rename(columns={'Any spring revival / pond protection measures taken?':'measures_taken'},inplace=True)

In [282]:
print(df['measures_taken'].astype(str).str.strip().str.lower().unique())

['no' 'nan' 'yes' '0']

In [283]:
df['measures_taken'] = df['measures_taken'].fillna('nan')
df['measures_taken'] = (
    df['measures_taken']
    .astype(str)
    .str.strip()
    .str.lower()
    .map({'yes': True, 'no': False, '0': False, 'nan': False})
)

In [284]:
df.head()

,SN,District,Municipality,Ward Number,Town/Village Name,Tole,Latitude,Longitude,Source Name,Source Type,...,If not who are restricted?,Are there water user groups for management?,User group type,Who is the chairperson?,Women in leadership position,measures_taken,plantation,recharge_pond_construction,source_protection,trench-pit
0,1,Kavrepalanchowk,Namobuudha,11,Thalbale,Thalbale,27.556629,85.596365,Thalbale kuwa,spring,...,NaN,no,NaN,NaN,NaN,False,0,0,0,0
1,2,Kavrepalanchowk,Namobuudha,11,Bimire,Bimire,27.565024,85.638463,Kuwa,spring,...,NaN,NaN,NaN,NaN,NaN,False,0,0,0,0
2,3,Kavrepalanchowk,Namobuudha,11,Nagar,Vimire,27.544086,85.569624,Kuwa,spring,...,NaN,yes,informal,male,"secretary,treasurer",True,1,0,1,0
3,4,Kavrepalanchowk,Namobuudha,11,Nagar,Bimire,27.545604,85.570672,Kuwa,spring,...,NaN,no,NaN,NaN,NaN,False,0,0,0,0
4,5,Kavrepalanchowk,Namobuudha,11,Nagar,Bimire,27.545577,85.570475,Enarko paniboding gareko,pond,...,NaN,no,NaN,NaN,NaN,False,0,0,0,0

In [285]:
df['Women in leadership position'].unique()

array([nan, 'secretary,treasurer', 'vice_chair', 'chair', 'treasurer',
       'secretary', 'Secretary', 'chair,secretary', 'Treasurer',
       'Vice Chair', 'Vice Chair & treasurer', 'Secretary & Treasurer',
       'treasurer,secretary', 'vice_chair,secretary', ' ',
       'vice_chair,treasurer', 'vice_chair,secretary,treasurer',
       'treserurer', 'teserurer', 'treasurer,vice_chair',
       'chair,treasurer', 'chair, vice-chair, secretrary ',
       'chair,vice_chair,treasurer,secretary', '0',
       'chair,vice_chair,treasurer'], dtype=object)

In [286]:
def clean_roles(text):
    if pd.isna(text):
        return ''
    text = str(text).lower().strip()
    text = text.replace('&', ',')
    text = text.replace('treserurer', 'treasurer')
    text = text.replace('teserurer', 'treasurer')
    text = text.replace('secretrary', 'secretary')
    text = text.replace('vice-chair', 'vice_chair')
    if text in ['0', '', ' ']:
        return ''
    return text

df['Women in leadership position'] = df['Women in leadership position'].apply(clean_roles)

df['leadership_list'] = df['Women in leadership position'].apply(
    lambda x: [role.strip() for role in x.split(',')] if x else []
)

mlb = MultiLabelBinarizer()
one_hot = pd.DataFrame(mlb.fit_transform(df['leadership_list']),
                       columns=mlb.classes_,
                       index=df.index)

one_hot = one_hot.add_prefix('f_')

df = df.join(one_hot)
df.drop(columns=['leadership_list','Women in leadership position'], inplace=True)

In [287]:
df.head()

,SN,District,Municipality,Ward Number,Town/Village Name,Tole,Latitude,Longitude,Source Name,Source Type,...,measures_taken,plantation,recharge_pond_construction,source_protection,trench-pit,f_chair,f_secretary,f_treasurer,f_vice chair,f_vice_chair
0,1,Kavrepalanchowk,Namobuudha,11,Thalbale,Thalbale,27.556629,85.596365,Thalbale kuwa,spring,...,False,0,0,0,0,0,0,0,0,0
1,2,Kavrepalanchowk,Namobuudha,11,Bimire,Bimire,27.565024,85.638463,Kuwa,spring,...,False,0,0,0,0,0,0,0,0,0
2,3,Kavrepalanchowk,Namobuudha,11,Nagar,Vimire,27.544086,85.569624,Kuwa,spring,...,True,1,0,1,0,0,1,1,0,0
3,4,Kavrepalanchowk,Namobuudha,11,Nagar,Bimire,27.545604,85.570672,Kuwa,spring,...,False,0,0,0,0,0,0,0,0,0
4,5,Kavrepalanchowk,Namobuudha,11,Nagar,Bimire,27.545577,85.570475,Enarko paniboding gareko,pond,...,False,0,0,0,0,0,0,0,0,0

In [288]:
df['Who is the chairperson?'].unique()

array([nan, 'male', 'female', 'Female', 'male '], dtype=object)

In [289]:
# female = 1, male = 0, unknown = -1
df['chairperson_gender'] = (
    df['Who is the chairperson?']
    .astype(str)
    .str.strip()
    .str.lower()
    .map({'female': 1, 'male': 0})
    .fillna(-1)
)
df.drop(columns=['Who is the chairperson?'], inplace=True)

In [290]:
df["User group type"].unique()

array([nan, 'informal', 'formal', 'Formal'], dtype=object)

In [291]:
df['user_group_type'] = (
    df['User group type']
    .astype(str)
    .str.strip()
    .str.lower()
    .replace({'nan': 'unknown'})
    .map({'informal': 0, 'formal': 1, 'unknown': -1})
)

df.drop(columns=['User group type'], inplace=True)

In [292]:
df['Are there water user groups for management?'].unique()

array(['no', nan, 'yes', 'Yes', '0'], dtype=object)

In [293]:
df['has_water_user_group'] = (
    df['Are there water user groups for management?']
    .astype(str)
    .str.strip()
    .str.lower()
    .map({'yes': 1, 'no': 0, '0': 0})
    .fillna(-1)
    .astype(int)
)

df.drop(columns=['Are there water user groups for management?'], inplace=True)

In [294]:
df['has_water_user_group']

0       0
1      -1
2       1
3       0
4       0
       ..
5684    0
5685    0
5686    0
5687    0
5688   -1
Name: has_water_user_group, Length: 5689, dtype: int64

In [295]:
df.drop(columns={'If not who are restricted?'},axis=1,inplace=True)

In [296]:
df['Is this source accessible to everyone in community? (in term of use access)'].unique()

array(['yes', nan, 'no'], dtype=object)

In [297]:
df['accessible_to_all'] = (
    df['Is this source accessible to everyone in community? (in term of use access)']
    .astype(str)
    .str.strip()
    .str.lower()
    .map({'yes': True, 'no': False})
    .fillna(False)
    .astype(bool)
)

df.drop(columns=['Is this source accessible to everyone in community? (in term of use access)'], inplace=True)

C:\Users\ACER\AppData\Local\Temp\ipykernel_14752\2745593702.py:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  .fillna(False)

In [298]:
df[ 'List the events associated with sources'].unique()

array([nan, 'Bihe vratawand, puja',
       'Pani ciso ,bihevoj,mathmandir nirmad',
       'Rici panchami nuhaun,saunma nuhaun ,ramro karyakram ka lagi ',
       'Panchami nuhaun,behe kalagi,vojka lagi ',
       'Bibah bratabandha, kiriya putri',
       'Janai mantrane, debalay banaun,nagpuja ',
       'Saune puja ,nagpuja,barpipal puja ',
       'Kriya nuhauni ,saunko brata ma nuhaune,panchami nuhaune ',
       'Panchami nuhauni ,nagpuja ,mulpuja ',
       'Siva paela pateko ,sivale bis khayr one paela yas pokharima teker aarko paela gosae kundama pareko,nagpuja ,sivamandirma jal chadaun , ',
       'Bibaha,batamhna', 'Saunma nuhaum ,panchami nuhaun ',
       'kul puja ko lagi', 'Gumba banaun ,kriya purti nuhaune  ',
       'Gumbalai jal chadaun, kajkriya ko lagi ', 'Naag Than',
       'Pahila pahila yo pani okhati ka rupama chalaenthyo ',
       'Jhakri dhyan ,', 'Narayan puja ', 'Sawan-Shivaraatri-Mela laagch',
       'à¤¬à¤¾à¤°à¥à¤·à¤¿à¤• à¤­à¤œà¤¨,à¤¸à¤¾à¤‰à¤¨ à¤ªà¥à¤œà¤¾,à¤¤à¤¿à¤œà¤ªà¤¨à¥à¤šà¤®à¤¿', 'puja garne', 'à¤›à¥‡à¤®à¤¾ à¤ªà¥à¤œà¤¾',
       'à¤¨à¤¾à¤—à¤ªà¥à¤œà¤¾ à¤…à¤¾à¤¦à¤¿', 'Panchami puja', 'Muhan ma Puja', 'Mul ma Puja',
       'Naag puja, Kriyakarma', 'Naag pus', 'Niyamit Puja',
       'Satyal Kul devta ko puja ma use',
       'Dikhuro, Kriyakarma Puja ma Use', 'naag puja',
       'kot devi ko puja ma use', 'Bandevi ko pja',
       'Mage sankrati ma bihana nuhaune', 'à¤¨à¤¾à¤—à¤ªà¥à¤œà¤¾ à¤¦à¤¸à¥ˆà¤®à¥Œà¤²à¥‹ à¤ªà¥à¤œà¤¾',
       'Nag than', 'à¤¨à¤¾à¤—à¤ªà¥à¤œà¤¾,', 'à¤¨à¤¾à¤— à¤ªà¥à¤œà¤¾', 'Debithan', 'Rakash than',
       'Nagthan', 'Mahadev sthan', 'Naga than', 'Bibaha',
       'à¤¨à¤¾à¤— à¤ªà¥à¤œà¤¾ ,à¤¤à¤¿à¤œ à¤ªà¤¨à¥à¤šà¤®à¤¿à¤ªà¥à¤œà¤¾,', 'Nagpuga', 'à¤¨à¤¾à¤—à¤ªà¥à¤œà¤¾ ', 'à¤¦à¥‡à¤¬à¤¿à¤ªà¥à¤œà¤¾,',
       'Nagthan ', 'Dashain puja', 'Bishnu dev ko puja',
       'maghe sankranti ma mahadev ko puja', 'Mahadev puja ',
       'najikko manidirma puja huncha', 'Nag puja', 'à¤¨à¤¾à¤— à¤ªà¥à¤œà¤¾ à¤¶à¤¿à¤¬ à¤ªà¥à¤œà¤¾',
       'à¤¦à¥‡à¤¬à¤¿ à¤ªà¥à¤œà¤¾', 'à¤¨à¤¾à¤—à¤ªà¥à¤œà¤¾', 'à¤¨à¤—à¤ªà¥à¤œà¤¾', 'à¤¨à¤¾à¤—à¤ªà¥à¤œà¤¨',
       'à¤¨à¤¾à¤—à¤¦à¥‡à¤¬à¤¿ à¤ªà¥à¤œà¤¾ à¤®à¤¹à¤¾à¤¦à¥‡à¤¬ à¤ªà¥à¤œà¤¾ ', 'à¤¨à¤¾à¤— à¤ªà¥à¤œà¤¾,',
       'à¤¨à¤¾à¤— à¤ªà¥à¤œà¤¾ à¤¤à¤¿à¤œ à¤ªà¤¨à¥à¤šà¤®à¤¿ à¤ªà¥à¤œà¤¾', 'à¤¨à¤¾à¤— à¤ªà¥à¤œ', 'à¤¨à¤¾à¤—à¤ªà¥à¤µà¤¾', 'à¤¨à¤¾à¤— à¤ªà¥à¤œà¤¾ ',
       'Naag Puja', 'à¤¨à¤¾à¤— à¤ªà¤œà¤¾', 'Pooja ma', 'Kul pooja',
       'bihema use garinxa', 'pachami nuhauna teej ma aauxan',
       'à¤µà¤¿à¤µà¤¾à¤¹, à¤µà¤°à¤¤à¤®à¤¾à¤¨,à¤ªà¥à¤œà¤¾', 'à¤¬à¤¿à¤¹à¥‡ à¤¬à¤°à¥à¤¤à¤®à¤¾à¤¨', 'à¤¬à¤¿à¤¹à¥‡ à¤¬à¤°à¥à¤¤à¤¾à¤®à¤¾ à¤ªà¥à¤œà¤¾',
       'Bih puja', 'Puja ko lagi jal chadaune',
       'Gharma rudri puja garda.', '0',
       'Ã Â¤Â¬Ã Â¤Â¿Ã Â¤Â¹Ã Â¥â€¡, Ã Â¤Â¬Ã Â¤Â°Ã Â¥\x8dÃ Â¤Â¤Ã Â¤Â¾Ã Â¤Â®Ã Â¤Â¾Ã Â¤Â¨Ã Â¤Â¡', 'Ã Â¤Â¬Ã Â¤Â¿Ã Â¤Â¹Ã Â¥â€¡,',
       'Ã Â¤Â¬Ã Â¤Â¿Ã Â¤Â¹Ã Â¥â€¡ ,Ã Â¤Â¬Ã Â¤Â°Ã Â¥\x8dÃ Â¤Â¤Ã Â¤Â®Ã Â¤Â¾Ã Â¤Â¨', 'kul puja voj nagpuja',
       'narayan puja nag puja', 'à¤¬à¤¿à¤¹à¥‡ ,à¤¬à¤°à¥à¤¤à¤¾à¤®à¤¾à¤¨', 'pooja path',
       'Mandir ma use hunsa', 'naag pooja', 'à¤¬à¤¿à¤¹à¥‡,à¤¬à¤°à¥à¤¤à¤®à¤¾à¤¨', 'à¤¬à¤¿à¤¹à¥‡',
       'à¤¬à¤¿à¤¹à¥‡,à¤¬à¤°à¥à¤¤à¤¾à¤®à¤¾à¤¨', 'à¤¬à¤¿à¤¹à¥‡,à¤¬à¤°à¥à¤¤à¤®à¤¾à¤¨,à¤¸à¤ªà¥à¤¤à¤¾à¤¹à¤ªà¥à¤œà¤¾',
       'Makal than mandir puja', 'Pujaa garnako lagi', 'à¤¬à¤¿à¤¹à¥‡ à¤¬à¤°à¥à¤¤à¤¾à¤®à¤¨',
       'à¤¬à¤°à¥à¤¤à¤®à¤¾à¤¨',
       'Kiriya basta kheri khana pakuna puna choko nido garna prayog garinxa',
       'Gumba ma puja garna ko lagi prayog  garinnchha', 'à¤¨à¤¾à¤— à¤ªà¥à¤œà¤¾ à¤—à¤°à¥à¤¨',
       'Yas kuwa ko deuta puja garinxa', 'Tij,pinda puja',
       'satekali Debi', 'Debithan mandir', 'panchami, dhikurya futauni ',
       'teej/panchami/ dhikurobanaune',
       'teej ko bela mahila panchami nuhaune', 'jatra', 'no',
       'gumba ma puja ko rupma', 'Mandir ko shoba .',
       'Shiva mandir ko kamma prayog hune kam.', 'puja garne.',
       'Pratak haru aaunxan tesaile', 'devi than ', 'à¤¤à¤¿à¤œ  à¤¹à¤¾à¥‡à¤²à¤¿', 'à¤¤à¤¿à¤œ  ',
       'kreya ', 'à¤¯à¤¹à¤¾ à¤¢à¤¿à¤•à¥à¤°à¤¾à¤•à¤¾à¥‡ à¤•à¤¾à¤® à¤¤à¤¥à¤¾ à¤ªà¤žà¥à¤šà¤®à¤¿ à¤¨à¥à¤¹à¤¾à¤‰à¤¨à¥‡ à¤—à¤°à¤¿à¤¨à¥à¤›',
       'à¤¬à¥€à¤¬à¤¾à¤¹,à¤šà¤¾à¤¡à¤ªà¤°à¥à¤¬à¤®à¤¾à¤ªà¥à¤°à¤¯à¥‹à¤— à¤¹à¥‚à¤¨à¥à¤›à¤¸', 'à¤¬à¥€à¤¬à¤¾à¤¹,à¤¬à¥à¤°à¤¤à¤¬à¤¨à¥à¤§ à¤†à¤¦à¥€', 'à¤®à¥‡à¤²à¤¾ à¤ªà¤°à¥à¤¬',
       'Gaukhuresor mahadeb mandir', 'à¤¬à¤¿à¤¬à¤¾à¤¹,à¤®à¥‡à¤²à¤¾ à¤ªà¤°à¥à¤¬', 'à¤®à¥‡à¤²à¤¾à¤ªà¤°à¥à¤¬',
       'à¤¬à¤¿à¤¬à¤¾à¤¹,à¤®à¥‡à¤²à¤¾à¤ªà¤°à¥à¤¬', 'guthi puja bibaha', 'baghvhairav mela puja',
       'mandirma chadauna', 'Mandirama chadauna', 'Sivaratri',
       'Setidevi  mandir', 'à¤®à¥‡à¤²à¤¾à¤ªà¤°à¥à¤¬ ', 'à¤¦à¥‡à¤µà¤¿ à¤•à¥‹ à¤®à¤¨à¥à¤¦à¤¿à¤°',
       'Phadkeshorma dainik puja patha', 'à¤ªà¥ƒà¤¤à¥à¤°à¤¿ à¤•à¤¾à¤°à¥à¤¯à¤•à¥‹ à¤²à¤¾à¤—à¥‹',
       'à¤¶à¤¿à¤¬ à¤®à¤¨à¥à¤¦à¤¿à¤°', 'à¤•à¤¾à¤œ à¤•à¤¿à¤°à¤¿à¤¯à¤¾ à¤•à¥‹ à¤²à¤¾à¤—à¤¿', 'Teej, holi', 'Teej',
       'à¤—à¤£à¥‡à¤¶ à¤¨à¤¾à¤—à¤¦à¥‡à¤¬à¤¤à¤¾à¤•à¥‹', 'à¤†à¤¦à¤¿à¤¤à¥à¤¯à¤§à¤¾à¤® à¤®à¤¨à¥à¤¦à¤¿à¤°à¤•à¥‹ à¤²à¤¾à¤—à¤¿',
       'à¤®à¤¨à¥à¤¦à¤¿à¤°à¤®à¤¾ à¤œà¤² à¤ªà¤°à¥à¤¯à¥‹à¤œà¤¨à¤•à¥‹ à¤²à¤¾à¤—à¤¿ à¤° à¤¸à¤¬à¥ˆ à¤§à¤¾à¤°à¥à¤®à¤¿à¤• à¤•à¤¾à¤°à¥à¤¯à¤•à¥‹ à¤•à¥‹ à¤²à¤¾à¤—à¤¿',
       'à¤¨à¤¾à¤—à¤¥à¤¾à¤¨', ' manxey beteko bela à¤¨à¥à¤¹à¤¾à¤‰à¤¨',
       'Pancha kanya naag ko puja garinxa', 'naagpanchami', 'dewali',
       'dainik mandirma chadauna', 'à¤¶à¤¿à¤¬ à¤—à¤£à¥‡à¤¶ à¤®à¤¨à¥à¤¦à¤¿à¤° ', 'à¤—à¥‹à¤ à¥‡à¤¦à¥‡à¤µà¥€',
       'Dewali', 'Panchami,dewali', 'Nagg puja garinxa', 'Naag panchami',
       'dewai, beses Puja', 'à¤œà¤² à¤šà¤¢à¤¾à¤‰à¤¨', 'à¤¨à¤¾à¤— à¤ªà¥à¤œà¤¾à¤›à¥‡à¤›',
       'madir ko pujako lagi', 'à¤•à¤¿à¤°à¤¿à¤¯à¤¾ à¤—à¤°à¥à¤¨', 'à¤¸à¥‡à¤¤à¤¿à¤¦à¥‡à¤µà¤¿',
       'Rudri,naag panchami', 'à¤›à¤²à¥‡à¤¶à¥à¤µà¤°', 'à¤ªà¤¿à¤¤à¥à¤°à¤¿ à¤•à¤¾à¤°à¥à¤¯ à¤•à¤¿à¤°à¤¿à¤¯à¤¾ à¤˜à¤°', 'à¤¨à¤¾à¤—',
       'kul puja sivaratri ', 'mandir nitya puja ',
       'purnima ko din fulchoki mela', 'chaukot mandir', 'bayu puja',
       'mahadav mandir mancha marda naune ', 'à¤ªà¥à¤œà¤¾', 'à¤¶à¤¿à¤µ', 'nagko than',
       'jaleshor ghat ', 'bhimsen than', 'kul pujako lagi', 'Kulpuja',
       'Bimsen puja', 'Sahun mahinako sombar nahunako lagi ',
       'kul puja, styanarayan puja', 'budha puja', 'satyanarayan puja',
       'kul puja', 'dhevi nagpuja bhuddhapuja',
       'Bhagawan lai jal charauna pyayok garinchha',
       'sesnagpuja kalikapuja  ganeshpuja', 'dikutipuja haritalika',
       'Panchami nuhauni', 'dikuro uthaune,panchami nuhauni', 'kul puja ',
       'dhikuro thapne,panchami nuhaune', 'Dhikuro thapne',
       'dhikuro thapne, panchami nuhaune ', 'Dhikuro uthaune ',
       'Budhapuja', 'panchami nuhauni', 'bhuddha puja nagpuja gurgapuja',
       'esnankalagi sansaripuja nagapuja',
       'panchami nuhauni,dhikuro uthauni',
       'mahadev sthanma jal chadauna ',
       'Mahadev sthanma jal chadaune & panchami nuhaune', 'Manepuja',
       'Kul puja', 'dhikuro thappni,panchami nuhauni',
       'setidevi pujako lagi', 'dhikuro futana',
       'dhikuro thapne,panchami nuhauni', 'budda ko murti,mane ko murti',
       'Mane puja', 'dhikuro uthauni,panchami nuhauni',
       'dhikoro uthaune ,panchami nahune',
       'Mahila hau panchami nuwane garchha', 'puja pat ',
       'Budhha jayanti ko din jal chadainchha', 'mathmandir pujako lagi',
       'kuldeuta', 'ghar puja', 'kul deuta',
       'pinda jaltarpan mahadev puja ', 'nagpuja mahadevpuja devipuja',
       'Puja garna', 'Puja garna ', 'à¤ªà¥à¤œà¤¾ à¤—à¤°à¥à¤¨à¥‡ à¤¸à¥à¤¥à¤¾à¤¨ à¤¨à¤¾à¤—à¤•à¥‹ à¤¥à¤¾à¤¨',
       'à¤ªà¥à¤œà¤¾ à¤†à¤œà¤¾à¤®à¤¾ à¤ªà¤°à¤¯à¥‹à¤—', 'Sradha ,puja',
       'Shradh garne bela nuhauna ani jal ko lagi',
       'kreya putri le praypg garne',
       'Kiriya putriko lagi pryog gariyako', 'Kajkriya garn',
       'bindabasini,madir ko lagi pryog', 'Naag pujaromi',
       'à¤ªà¤£à¥à¤šà¤®à¤¿ à¤¨à¥à¤¹à¤¾à¤‰à¤¨à¥‡,à¤•à¤¾à¤œ à¤•à¥à¤°à¤¿à¤¯à¤¾ à¤—à¤°à¥à¤¦à¤¾', 'Kirya putre ', 'Kiriya putri',
       'nagthan', 'Mandir', 'Puja aaj garne,kajkriya garne',
       'Chhotten gumba', 'chortengumba ',
       'kiriya putriko lagi prayog gariyako',
       '12 denko kamma paryog hunxa', 'naghpachamiko lagi', 'nagpanchami',
       'à¤•à¤¾à¤œ à¤•à¥ƒà¤¯ à¤—à¤¦à¤¾ ', 'Keriya garny ', '1', 'simalchaur stupa',
       'Warpar phohor garn hudain nag lagchha vanne manyata',
       'Malamiharu nuhaune thau vanda rahechhan', 'Mandir ma puja garne',
       'à¤•à¤¾à¤œ à¤•à¥à¤°à¤¿à¤¯à¤¾ à¤—à¤°à¥à¤¦à¤¾ à¤¬à¤¸à¥à¤¨à¥‡ à¤ à¤¾à¤à¤‰', 'à¤®à¤¨à¥à¤¦à¤¿à¤° à¤°à¤¹à¥‡à¤•à¥‹ à¤¸à¥à¤¥à¤¾à¤¨',
       'Kiriya purpose', 'stupa', 'Puja ko kamma,10 denko kamma',
       'marda pani clauni', 'puja path garnako lagi',
       'kiriya basta prayog garinxa',
       'panchami nuhaune kriya purti nuhaune ',
       'Nag panchami,kiriya nuhaune ', 'kiriya putri nuhaune ',
       'à¤®à¤¾à¤¨à¥à¤›à¥‡ à¤®à¤°à¥‡à¤•à¥‹ à¤¬à¥‡à¤²à¤¾à¤®à¤¾ ', 'Nag puja ko lagixaina', 'Darmik puja',
       'Kiriya basda prayog garinxa', 'panchami nuhauna', 'Naag puja ',
       'Kriya nuhaune', 'Kriya nuhauni', 'à¤šà¤¾à¤¡à¤¬à¤¾à¤¡ à¤¤à¤¿à¤¥à¤¿ à¤¸à¤°à¤¾à¤˜à¤®à¤¾ ',
       'Kriya basda nuhaune garinxa', 'à¤®à¤°à¥‚ à¤ªà¤°à¤¦à¤¾ à¤ªà¥à¤œà¤¾ à¤ªà¤¾à¤  à¤†à¤¦à¤¿à¤²à¤¾à¤ˆ',
       'Kriya basda', 'à¤ªà¥à¤œà¤¾ à¤¨à¤¾à¤— à¤ªà¥à¤œà¤¾ à¤†à¤¦à¤¿', 'Kriye,', 'Kaj kriya',
       'kiriya basda', 'Naga puja', 'Manxa marako bala use',
       'Nag puja ko lagi', 'Kiriya,kulpuja', 'Nag pura ra kriya basda',
       'Kriputri,Tijuana', 'Puja ko lagi', 'Nag puja ra kriya basda',
       'Kiriya basneta thalo', 'Kriya basda nuhaune garinchha',
       'Kiriya,puja', 'kiriya basda prayog garinchha', 'teej, panchami',
       'Taaj Panchame nununa', 'Kruya basda', 'Kriya basne',
       'Nag puja,kriya basda', 'Nagg puja', 'teej panchami nuhauxan',
       'Kirya putari basni panchami nuhauni ', 'kaj kriye', 'Naag puja',
       'à¤®à¤°à¥ à¤ªà¤°à¥‡à¤•\u200dà¥‹ à¤¬à¥‡à¤²à¤¾ ', 'kriya putri nuhaune',
       'Kirya basnmanxele nuhaune nag puja garinxa',
       'Nag puja  kiriya basne le nuhaune', 'Dharmik puja',
       'kiriya putri nuhaune panchami nuhaune', 'Kiriya putri nuhaune ',
       'kriya putri nuhaune ', 'kiriya basda thaloko peayog',
       'kiriya basda prayog', 'Panchami nuhaune naga puja garine',
       'Kiriya nuhaune,nag puja',
       'Mirtu saskari ma paryog,panchmi nuhauni ,nag puja ',
       'Dikuro uthaune thau', 'Naj puja',
       'panchami nuhaune  fulpati selaune ', 'Panchami nuhaune,nag puja',
       'Kiriya nahaune,', 'Kiriya nuhaune ', 'à¤®à¤°à¥ à¤ªà¥à¤œà¤¾à¤•à¥‹ à¤²à¤¾à¤—à¤¿ ',
       'à¤®à¤°à¥ à¤ªà¥à¤œà¤¾', 'Tij, nag puja',
       'Puja garan and manxa marako bela bath garna use hunxa',
       'puja ko bela manxa merako bela use hunxa',
       'Puja and kreya ko lagi ',
       'Puja and kriya ko lagi use garna garko xa ', 'Puja and kreya ',
       'Teej nuhauni aaitbari puja mirtu saskarma kiriya putri basni panchami nuhauni ',
       'Puja and kaj kerya', 'Puja and kaj kreya',
       'à¤®à¤°à¥‚ à¤° à¤ªà¥à¤œà¤¾ à¤ªà¤¾à¤ à¤•à¥‹ à¤²à¤¾à¤—à¤¿ ', 'à¤®à¤°à¥ à¤ªà¤°à¥‡à¤•à¥‹ à¤¬à¥‡à¤²à¤¾',
       'panchami nuhaune kiriya putri nuhaune', 'puja and kaj kreya ',
       'kaj kerya', 'Puja ko lagi pani', 'kaj kreya and shadra',
       'Kirya putri nuhaune ', 'Kiriya putri nuhaune panchami nuhaune',
       'Kriya putri nuhaune ', 'teej panchami nuhaune', 'Kaj kerya',
       'Mirtu saskarma paryog garinxa ', 'Panchami nuhaune',
       'Mandir Pariyar cotta vaeko '], dtype=object)

In [299]:
def map_to_category(text):
    if pd.isna(text):
        return ['misc_unknown']
    text = text.lower()
    categories = []

    if any(k in text for k in ['bihe', 'bibaha', 'à¤¬à¤¿à¤¹à¥‡']):
        categories.append('marriage')
    if any(k in text for k in ['brata', 'à¤µà¤°à¤¤à¤®à¤¾à¤¨', 'bratabandha']):
        categories.append('bratabandha')
    if any(k in text for k in ['kriya', 'à¤•à¤¿à¤°à¤¿à¤¯à¤¾', 'pitri', 'à¤¶à¥à¤°à¤¾à¤¦à¥à¤§']):
        categories.append('kriya_funeral')
    if any(k in text for k in ['nag', 'à¤¨à¤¾à¤—']):
        categories.append('nag_puja')
    if any(k in text for k in ['panchami', 'à¤ªà¤žà¥à¤šà¤®à¤¿']):
        categories.append('panchami')
    if any(k in text for k in ['teej', 'à¤¤à¤¿à¤œ']):
        categories.append('teej')
    if any(k in text for k in ['mandir', 'à¤®à¤¨à¥à¤¦à¤¿à¤°']):
        categories.append('mandir_related')
    if any(k in text for k in ['nity', 'à¤¨à¤¿à¤¤à¥à¤¯', 'niyamit', 'à¤¦à¥ˆà¤¨à¤¿à¤•', 'à¤˜à¤°']):
        categories.append('regular_worship')
    if any(k in text for k in ['shradh', 'à¤ªà¤¿à¤£à¥à¤¡', 'à¤¸à¥à¤°à¤¾à¤¦à¥à¤§', 'à¤ªà¤¿à¤¤à¥à¤°à¤¿']):
        categories.append('shraddha')
    if any(k in text for k in ['dashain', 'sivaratri', 'mela', 'holi', 'maghe']):
        categories.append('other_festivals')

    if not categories:
        return ['misc_unknown']
    return categories

# Apply the function
df['event_categories'] = df['List the events associated with sources'].apply(map_to_category)

In [300]:
mlb = MultiLabelBinarizer()
encoded = mlb.fit_transform(df['event_categories'])

category_df = pd.DataFrame(encoded, columns=mlb.classes_)
df = pd.concat([df, category_df], axis=1)

In [301]:
df = df.drop(columns=['event_categories','misc_unknown','List the events associated with sources'])

In [302]:
df['is_water_source_significant'] = (
    df['Is water source significant for cultural/religious purpose?']
    .astype(str)
    .str.strip()
    .str.lower()
    .map({'yes': True, 'no': False})
    .fillna(False)
    .astype(bool)
)

df.drop(columns=['Is water source significant for cultural/religious purpose?'], inplace=True)

C:\Users\ACER\AppData\Local\Temp\ipykernel_14752\1589659213.py:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  .fillna(False)

In [303]:
df.columns

Index(['SN', 'District', 'Municipality', 'Ward Number', 'Town/Village Name',
       'Tole', 'Latitude', 'Longitude', 'Source Name', 'Source Type',
       'Ownership', 'Surrounding Environment (Landuse)',
       'Plant Species around Water Source', 'Source Condition',
       'Perennial / Seasonal', 'Dried since how many years?',
       'Reason of drying',
       'After this source dried up , was there any activity for revival done in this source?',
       'List the activities done for source revival',
       'What was done after source was dried up?', 'Source Condition.1',
       'Nature of discharge', 'Water emergence point',
       'Volume of bucket /bottle (1, 2, 5, 10 or 20 litre)',
       'Time to fill (seconds)',
       'Approx. distance from the nearest dependent household (metre)',
       'One-way water fetching time (minutes)',
       'How much time did it take to fill the Jar of 20 liter before 10 yr? (minutes)',
       'Current time to fill 20 liter jar (minutes)',
       'Trend of spring discharge', 'Pond area (square metre)',
       'Pond depth (metre)', 'Pond area 10 years earlier (square metre)',
       'Pond depth10 years earlier (metre)',
       'Perception on source water quality',
       'Perception on source water quality change', 'Is this source in use?',
       'Purpose of use', 'No. of households dependent on this source',
       'Ethnicity of users', 'No. of households dependent on this source only',
       'Ethnicity of users dependent on this source only',
       'Any impact due to 2015 earthquake?', 'Is this source tapped?',
       'Supplied to same Municipality or different?',
       'Supplied to same ward or different wards?', 'measures_taken',
       'plantation', 'recharge_pond_construction', 'source_protection',
       'trench-pit', 'f_chair', 'f_secretary', 'f_treasurer', 'f_vice chair',
       'f_vice_chair', 'chairperson_gender', 'user_group_type',
       'has_water_user_group', 'accessible_to_all', 'bratabandha',
       'kriya_funeral', 'mandir_related', 'marriage', 'nag_puja',
       'other_festivals', 'panchami', 'regular_worship', 'shraddha', 'teej',
       'is_water_source_significant'],
      dtype='object')

In [304]:
df['Supplied to same ward or different wards?'].unique()

array([nan, 'same', 'different', '0', 'both'], dtype=object)

In [305]:
df['supplied_to_ward'] = (
    df['Supplied to same ward or different wards?']
    .astype(str)
    .str.strip()
    .str.lower()
    .map({
        'same': 1,
        '0': 0,
        'different': 0,
        'both': 2
    })
)

# Replace NaN (which become 'nan' string after astype(str)) with -1 for unknown
df['supplied_to_ward'] = df['supplied_to_ward'].fillna(-1)

# Drop the original column
df.drop(columns=['Supplied to same ward or different wards?'], inplace=True)

In [306]:
df['Supplied to same Municipality or different?'].unique()

array([nan, 'same', '0', 'different', 'both'], dtype=object)

In [307]:
df['supplied_to_municipality'] = (
    df['Supplied to same Municipality or different?']
    .astype(str)
    .str.strip()
    .str.lower()
    .map({
        'same': 1,
        '0': 0,
        'different': 0,
        'both': 2
    })
)

df['supplied_to_municipality'] = df['supplied_to_municipality'].fillna(-1)

df.drop(columns=['Supplied to same Municipality or different?'], inplace=True)